@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,body,footer
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body, main {
    font-family: 'Roboto', sans-serif;
}
footer {
    background-color: black
}
.btn {
    border-radius: 15px;
}
.card {
    background-color: rgb(218, 218, 218);
    border: none;
    border-radius: 15px;
}
.col-lg-3 > h1{
    color: rgb(212, 212, 212);
    font-weight: bold;
    font-style: italic;
}
.col-lg-3 > h2{
    color: rgb(212, 212, 212);
}
.col-lg-3 > h5{
    color: rgb(212, 212, 212);
}
.display-4 {
    color: rgb(212, 212, 212);
}
.branco {
    color: rgb(212, 212, 212);
}
.vermelho {
    color: #D6000D;
}
.fundo-vermelho {
    background-color: #D6000D;
}
.btn-size {
    font-size: 1.5rem;
}
.btn-size-2 {
    font-size: 1.4rem;
    font-weight: bold;
}
.icon-size {
    height: 40px;
    margin: 10px;
}
.list-unstyled > li > a {
    line-height: 50px;
}
#codar {
    color: #D6000D;
    font-weight: bolder;
    font-style: italic;
    font-size:4rem;
}
#ponto {
    font-size: 4rem;
}
#servicos {
    width: 70%;
    margin: auto;
}
#servicos > li{
    font-size: 2rem;
    background: url('../assets/check-circle-fill.png') no-repeat 7px 7px transparent;
    list-style-type: none;
    margin: 0;
    padding: 4px 0px 10px 70px;
    vertical-align: middle;
}
#input-celular {
    border-radius: 15px;
    background:#dddddd;
    height: 70px;
    font-size: 1.4rem;
    font-weight: 500;
    width: 300px;
}
#circulo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:#D6000D;
    margin: 1em;
    float: left;
}

@media (max-width: 575.98px) {
    .center-align {
        text-align: center;
    }
    .col-lg-6  button {
        width: 100%;
    }
    .col-12 button {
        width: 100%;
    }
    #btn-login {
        display: none;
    }
    #primeira-secao div:nth-child(2) > div > h1 {
        font-size: 3rem;
    }
    #servicos {
        width: 70%;
        margin: auto;
    }
    #servicos > li{
        font-size: 1.3rem;
        background: url('../assets/check-circle-fill.png') no-repeat 3px 3px transparent;
        list-style-type: none;
        margin: 0;
        padding: 11px 0px 15px 60px;
        vertical-align: middle;
    }
    #circulo {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color:#D6000D;
        margin: 1em;
    }
    #codar-lema {
        text-align: center;
    }
}


@media (min-width: 768px) {
    
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    
}